/*
 * Copyright (c) 2025 Ayush Singh, BeagleBoard.org
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	zephyr,greybus {
		gbbundle1 {
			status = "okay";
			compatible = "zephyr,greybus-bundle-bridged-phy";
			gpio-controllers = <&gpiob>;
		};
	};
};
&pinctrl {
	eusart0_exp_uart: eusart0_exp_uart {
		group0 {
			pins = <EUSART0_TX_PA5>;
			drive-push-pull;
			output-high;
		};

		group1 {
			pins = <EUSART0_RX_PA6>;
			input-enable;
			silabs,input-filter;
		};
	};
};

&eusart0 {
	compatible = "silabs,eusart-uart";
	pinctrl-0 = <&eusart0_exp_uart>;
	pinctrl-names = "default";
	status = "okay";
	
	gb_uart: zephyr,greybus {
		status = "okay";
	};
};

&gpiob {
	status = "okay";
};
